body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Yellowtail", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    min-height: 90vh;
    padding: 2rem;
    margin-top: 5vh;
    background-color: #4cb2be;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 10px 20px;
    border: 1px solid #1558bc;
    border-radius: 5px;
    background-color: #1558bc;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.button:hover {
    background-color: #1576bc;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.titleAndButtonsContainer {
    font-family: "Yellowtail", sans-serif;
    color: white;
}
/* Responsive */
@media (max-width: 600px) {
    .container {
        width: 94%;
        margin: 3vh auto;
        padding: 1rem;
        min-height: auto;
    }

    .buttonContainer {
        flex-direction: column;
        gap: 5px;
    }
}
