.ListItem {
    color: #00396a;
}

.ListItemCompleted {
    color: rgb(255, 255, 255);
    text-decoration: line-through;
}

.ListItemNotCompleted {
    color: rgb(41, 54, 194);
    text-decoration: none;
}

.ListItemError {
    color: red;
    /* more styles for error message */
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center; /* Align items vertically */
    background-color: #4cb2be;
}

li:nth-child(even) {
    background-color: #4cb2be;
}

.itemText {
    flex-grow: 1; /* Allows the text to fill the space */
    margin: 0 10px; /* Adds space around the text */
}
.inputField, .button {
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #1558bc;
}

.inputField {
    width: calc(100% - 32px);
    background-color: white;
}

.button {
    padding: 10px 20px;
    border: 1px solid #1558bc;
    border-radius: 5px;
    background-color: #1558bc;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.button:hover {
    background-color: #1576bc;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.checkbox {
    margin-right: 12px; /* Space after the checkbox */
}
