* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eeeeee;
    padding: 0 16px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1c1f23;
  }